*{
    box-sizing: border-box;
    padding: none;
    margin: none;
}

body {
    background-color: rgb(234, 236, 233);
}

a, a:hover {
    text-decoration: none;
    color: whitesmoke;
    font-weight:500;
}
a:hover {
    color: #fb8500;
}



.navbar {
    background-color: #01697c;
    color: whitesmoke;
}

.logo {
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
    color: #e9c46a
}

.nav-link {
    font-size: 15px;
    font-weight: 300;
}


.div_carousel {
    background-color: whitesmoke;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(https://wallpaperaccess.com/full/249854.jpg);
    object-fit:scale-down;
}

.div_about-header {
    padding: 15px;
    background-color: rgb(234, 236, 233);
    display: flex;
    margin-left: 32%;
    justify-content: center;
    color: #495057;
    font-weight: 300;
    width: 36%;
    border-radius: 10px;
}

h4 {
    font-weight: 400;
}


.section_textarea {
    padding: 15px;
    font-size: 12px;
    height: auto;
    width: 80%;
    background-color: rgb(225, 227, 233);
    border-radius: 10px;
}

.div_about-textarea {
    padding: 25px;
    display: inline-flex;
    margin-left: 13%;
    gap: 25px;
    width: 75%;
    background-color: #01697c;
    color: #495057;
    border-radius: 10px;
}

.section_textarea-header {
    font-size: 18px
}

.img_sydney-snow {
    height: 500px;
    width: auto;
    border-radius: 5px;
}

/* Public profile/ Post Show style */

main {
    display: flex;
    height: 100vh;
}
.section_panel-left {
    background-color: burlywood;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-content: center;
}
.p_cities-header {
    margin: 30px;
}
.div_city-link {
    width: 85%;
    height: 100px;
    padding: 20px;
    margin: 30px;
    border: 2px solid black;
    border-radius: 25px;
}

.section_panel-right {
    background-color: pink;
    width: 60%;
}

.div_userinfo {
    background-color: khaki;
    height: 40%;
}