{% extends 'base.html' %}

{% block content %}

<body>

    <div class="navbar">
        <span class="logo">
            Wayfarer
        </span>
        <ul class="nav justify-content-end">
            <li class="nav-item">
                <a class="nav-link" href="#">Sign Up</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Log In</a>
            </li>
        </ul>
    </div>

    <div class="div_carousel">
        Carousel goes here
    </div>

    <div class="div_about-header">
        <h4>Wayfarer is....</h4>
    </div>

    <div class="div_about-textarea">
        <section class="section_textarea section_textarea-left">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem numquam quos quasi, veritatis delectus minima
            odit iusto consequuntur odio blanditiis aut nesciunt facere earum placeat, labore consequatur architecto
            accusamus quo.
        </section>
        <section class="section_textarea section_textarea-middle">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores sunt similique, ratione saepe perspiciatis
            rerum recusandae repellat dolorum obcaecati dolor quos voluptatum laudantium! Distinctio, nisi in cupiditate
            reiciendis sapiente iure.
        </section>
        <section class="section_textarea section_textarea-right">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat totam et culpa provident. Dolore in natus
            magnam placeat, velit necessitatibus facilis eius dignissimos molestiae quia quibusdam esse ullam distinctio
            totam!
        </section>



    </div>

</body>


{% endblock %}